body {
    background-color: #e8e8e8;
    background-image: url("https://s3.amazonaws.com/assets.ottomotors.com/content-images-v2/NextGen-1500.png?mtime=20210406093622");
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, sans-serif;
}

p {
    font-size: 3rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #3e8e41;
}