.modal-alert {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.modal-alert .modal-content {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 15% auto;
    width: 50%;
    max-width: 600px;
    padding: 20px;
}

.modal-alert .modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
}

.modal-alert .modal-body {
    font-size: 18px;
}

.modal-alert .modal-footer {
    text-align: right;
}

.modal-alert .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.modal-alert .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}