header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 20px;
    /* added padding on left side */
    background-color: #000000c0;
    color: #fff;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    text-transform: uppercase;
}
