.modal {
    display: none;
    /* Hide the modal by default */
    position: fixed;
    /* Position it in the center of the screen */
    z-index: 1;
    /* Make sure it's on top of other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scrolling if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Add a dark background */
}

.modal-content {
    text-align: center;
    /* Align the text to the center */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    /* Add a light background to the content */
    margin: 15% auto;
    /* Position the content in the center of the screen */
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    /* Set the width of the modal content */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* Add a box shadow to make it stand out */
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

button#cancel-btn {
    background-color: #a99922;
    margin-right: 10px;
    /* add margin to the right */
}

button#logout-btn {
    background-color: #f44336;
    margin-left: 10px;
}

#logout-modal {
    z-index: 9999;
    /* Other styles for the modal */
}