/* Global styles */

body {
    background-image: url("https://s3.amazonaws.com/assets.ottomotors.com/content-images-v2/NextGen-1500.png?mtime=20210406093622");
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 20px;
    /* added padding on left side */
    background-color: #007bff;
    color: #fff;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
}

header h1 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px #333;
    letter-spacing: 2px;
}

h1 {
    margin-right: auto;
}

#profile-btn {
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
}

#profile-btn img {
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.no-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px #ccc;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    color: #333;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px #ccc;
    text-transform: uppercase;
}

li:hover {
    background-color: #ddd;
    transition: background-color 0.3s ease;
}

#other-btn {
    margin-right: 30px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#other-btn:hover {
    background-color: #e91e63;
}

#latestlogs-btn {
    margin-right: 30px;
    background-color: #d41305;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#latestlogs-btn:hover {
    background-color: #e91e63;
}

#latestlogs-btn {
    margin-right: 30px;
    background-color: #d41305;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#latestlogs-btn:hover {
    background-color: #e91e63;
}

#project-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#project-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#project-list li:last-child {
    border-bottom: none;
}

.create-cluster-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    /* moved button to rightmost side */
    margin-right: 20px;
    /* added some right margin for spacing */
}

.create-cluster-btn:hover {
    background-color: #3e8e41;
}

li .download-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}

li .download-btn:hover {
    background-color: #003d7e;
}

.create-cluster-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

.download-project-data-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.download-project-data-btn:hover {
    background-color: #3e8e41;
}

.download-yaml-data-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.download-yaml-data-btn:hover {
    background-color: #3e8e41;
}

.update-cluster-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.update-cluster-btn:hover {
    background-color: #3e8e41;
}

.delete-project-data-btn {
    background-color: #d41305;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.delete-project-data-btn:hover {
    background-color: #901414;
}

#reload-btn {
    margin-right: 30px;
    background-color: #d41305;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#reload-btn:hover {
    background-color: #e91e63;
}

#alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

#redeploy-btn {
    margin-right: 30px;
    background-color: #a99922;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#redeploy-btn:hover {
    background-color: #89873e;
}

#validate-btn {
    margin-right: 30px;
    background-color: #a99922;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#validate-btn:hover {
    background-color: #89873e;
}