body {
    background-image: url("https://s3.amazonaws.com/assets.ottomotors.com/content-images-v2/NextGen-1500.png?mtime=20210406093622");
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


/* Popup styles */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.popup-title {
    font-size: 18px;
    font-weight: bold;
}

.popup-close {
    font-size: 20px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.popup-close:hover {
    color: #000;
}

.popup-body {
    text-align: center;
    margin-bottom: 20px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: #4CAF50;
    transition: width 1s ease-in-out;
}


/* Hidden class */

.hidden {
    display: none;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.back-to-home {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.downloadrobotdata {
    margin-top: 20px;
    background-color: #CD3E21;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 0.8em;
}

.success {
    color: green;
  }

input[type="text"],
input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 0;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: #66afe9;
    box-shadow: inset
}

#create-project-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#frame {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    background-color: blue;
    /* added line */
}

#h1project {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #0088cc;
}