<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/404.css') }}">
</head>

<body>
    <div class="center">
        <p>404 - Page Not Found</p>
        <button class="btn" onclick="window.location.href='/login'">Click to go back to login</button>
    </div>
</body>

</html>