<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/logout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/logviewer.css') }}">
    <meta charset="UTF-8">
    <title>Log Viewer</title>
  </head>
  <body>
    <header>
      <h1>Log Viewer - {{ project_name }}</h1>
      <button id="redeploy-btn">Redeploy</button>
      <button id="validate-btn" title="Click here to re-validate your cluster">Validate</button>
      <button id="reload-btn">Refresh</button>
      <button id="latestlogs-btn">Latest Logs</button>
      <button id="other-btn" onclick="location.href='/project'">Back to Home</button>
      <button id="profile-btn">
        <img src="{{ url_for('static', filename='images.png') }}" alt="Profile">
      </button>
    </header>
    <pre style="white-space: pre-wrap;">
      {% for line in CurrentClusterlogs %}
          <code>{{ line }}</code>
      {% endfor %}
    </pre>
  </body>
  <script>
    const profileBtn = document.getElementById('profile-btn');
    // Add event listener to the profile button
    profileBtn.addEventListener('click', function() {
      // Show the modal
      const modal = document.getElementById('logout-modal');
      modal.style.display = 'block';
      // Add event listener to the cancel button
      const cancelBtn = document.getElementById('cancel-btn');
      cancelBtn.addEventListener('click', function() {
        // Hide the modal
        modal.style.display = 'none';
      });
      // Add event listener to the logout button
      const logoutBtn = document.getElementById('logout-btn');
      logoutBtn.addEventListener('click', function() {
        // Redirect to logout page
        window.location.href = 'logout';
      });
    });
    document.getElementById('reload-btn').addEventListener('click', function() {
      window.location.href = '/currentClusterStatus?projectName=' + '{{ project_name }}';
    });
    // Auto-click the reload button every 5 seconds
    const reloadBtn = document.getElementById('reload-btn');
    reloadBtn.addEventListener('click', function() {
      window.location.href = '/currentClusterStatus?projectName=' + '{{ project_name }}';
    });
    window.scrollTo({
      top: document.body.scrollHeight,
      behavior: 'smooth'
    });
    setInterval(function() {
      reloadBtn.click();
    }, 15000);
    // Add event listener to check when page is scrolled
    window.addEventListener('scroll', function() {
      const scrollPosition = window.innerHeight + window.pageYOffset;
      const documentHeight = document.body.offsetHeight;
      if (scrollPosition >= documentHeight * 0.7) {
        // Change button text to "Move to top"
        document.getElementById('latestlogs-btn').textContent = 'Move to top';
      } else {
        // Change button text back to "Click for Latest Logs"
        document.getElementById('latestlogs-btn').textContent = 'Click for Latest Logs';
      }
    });
    document.getElementById('latestlogs-btn').addEventListener('click', function() {
      if (window.pageYOffset > 0) {
        // If not already at the top, scroll to top of page
        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        });
      }
    });
    document.getElementById('latestlogs-btn').addEventListener('click', function() {
      if (this.textContent === 'Move to top') {
        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        });
      } else if (this.textContent === 'Click for Latest Logs') {
        // Scroll to the bottom of the page
        window.scrollTo({
          top: document.body.scrollHeight,
          behavior: 'smooth'
        });
      }
    });
    const redeployBtn = document.getElementById('redeploy-btn');
    redeployBtn.addEventListener('click', function() {
      const projectName = redeployBtn.getAttribute('data-project');
      const xhr = new XMLHttpRequest();
      xhr.open('GET', '/executeShell?scriptName=redeploy&projectName={{ project_name }}');
      xhr.onload = function() {
        if (xhr.status === 200) {
          const response = JSON.parse(xhr.responseText);
          const updateMsgDiv = document.createElement('div');
          updateMsgDiv.innerHTML = response.msg;
          updateMsgDiv.classList.add('popup');
          document.body.appendChild(updateMsgDiv);
          setTimeout(function() {
            updateMsgDiv.style.opacity = 0;
            setTimeout(function() {
              document.body.removeChild(updateMsgDiv);
            }, 1000);
          }, 20000);
          redeployBtn.innerHTML = 'ReDeploy in progress...';
          redeployBtn.disabled = true;
          setTimeout(function() {
            redeployBtn.innerHTML = 'RedeployCluster';
            redeployBtn.disabled = false;
          }, 5000);
        } else {
          console.log('Error executing script');
        }
      };
      xhr.send();
    });
    const validateBtn = document.getElementById('validate-btn');
    validateBtn.addEventListener('click', function() {
      const projectName = validateBtn.getAttribute('data-project');
      const xhr = new XMLHttpRequest();
      xhr.open('GET', '/executeShell?scriptName=validate&projectName={{ project_name }}');
      xhr.onload = function() {
        if (xhr.status === 200) {
          const response = JSON.parse(xhr.responseText);
          const updateMsgDiv = document.createElement('div');
          updateMsgDiv.innerHTML = response.msg;
          updateMsgDiv.classList.add('popup');
          document.body.appendChild(updateMsgDiv);
          setTimeout(function() {
            updateMsgDiv.style.opacity = 0;
            setTimeout(function() {
              document.body.removeChild(updateMsgDiv);
            }, 1000);
          }, 20000);
          validateBtn.innerHTML = 'Validation in progress...';
          validateBtn.disabled = true;
          setTimeout(function() {
            validateBtn.innerHTML = 'ValidateCluster';
            validateBtn.disabled = false;
          }, 5000);
        } else {
          console.log('Error executing script');
        }
      };
      xhr.send();
    });
  </script>
  <div id="logout-modal" class="modal">
    <div class="modal-content">
      <h2>Are you sure you want to logout?</h2>
      <div class="buttons">
        <button id="cancel-btn">Cancel</button>
        <button id="logout-btn">Logout</button>
      </div>
    </div>
  </div>
</html>
