<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/logout.css') }}">
    <title>Fleet Manager Robot Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <script>
        window.addEventListener('DOMContentLoaded', function() {
            var versionField = document.getElementById('version');
            var platformField = document.getElementById('platform');

            versionField.addEventListener('input', function() {
              if (versionField.value <= 2.28) {
                    platformField.disabled = true;
                    platformField.style.backgroundColor = '#d3d3d3';
                } else {
                    platformField.disabled = false;
                    platformField.style.backgroundColor = '#ffffff';
                }
            });
        });

        function validateForm() {
            var versionField = document.forms["myForm"]["Version"];
            var projectField = document.forms["myForm"]["Project"];
            var platformField = document.forms["myForm"]["Platform"];
            var robotCountField = document.forms["myForm"]["RobotCount"];
            var robotTypeField = document.forms["myForm"]["RobotType"];
            var BudgetField = document.forms["myForm"]["Budget"]
            var rocksteadyCount = document.forms["myForm"]["Rocksteady"]
            var rzrCount = document.forms["myForm"]["RZR"]
            var strikerCount = document.forms["myForm"]["Striker"]
            var moonCount = document.forms["myForm"]["Moon"]
            var starlingCount = document.forms["myForm"]["Starling"]

            if (versionField.value == "" && robotCountField.value == "" && robotTypeField.value == "" && Budget.value == "") {
                showError(versionField, "Please provide the version details");
                showError(projectField, "Please provide the project name");
                showError(Budget, "Please provide the Budget code");
                showError(robotTypeField, "Select the robottype to build");
                return false;
            }

            if (isNaN(versionField.value) || versionField.value == "") {
                showError(versionField, "Version must be a number");
                return false;
            }

            if (!isNaN(projectField.value) || projectField.value == "") {
                showError(projectField, "Project must be a string");
                return false;
            }


            if (BudgetField.value == "") {
                showError(BudgetField, "Budget code must be a specified");
                return false;
            }

            if (platformField.disabled == false) {
                if (!isNaN(platformField.value) || platformField.value == "") {
                    showError(platformField, "Platform must be a string");
                    return false;
                }
            }

            if (isNaN(robotCountField.value) || robotCountField.value == "") {
                showError(robotCountField, "RobotCount must be a number");
                return false;
            }


            if (!Number.isInteger(Number(rocksteadyCount.value)) || rocksteadyCount.value == "") {
                showError(rocksteadyCount, "Rocksteady must be an Number, Min value is 0");
                return false;
            }

            // Check rzrCount
            if (!Number.isInteger(Number(rzrCount.value)) || rzrCount.value == "") {
                showError(rzrCount, "RZR must be an Number, Min value is 0");
                return false;
            }

            // Check strikerCount
            if (!Number.isInteger(Number(strikerCount.value)) || strikerCount.value == "") {
                showError(strikerCount, "Striker must be an Number, Min value is 0");
                return false;
            }

            // Check moonCount
            if (!Number.isInteger(Number(moonCount.value)) || moonCount.value == "") {
                showError(moonCount, "Moon must be an Number, Min value is 0");
                return false;
            }

            // Check starlingCount
            if (!Number.isInteger(Number(starlingCount.value)) || starlingCount.value == "") {
                showError(starlingCount, "Starling must be an Number, Min value is 0");
                return false;
            }


            const totalRobotsCount = parseInt(rocksteadyCount.value) + parseInt(rzrCount.value) + parseInt(strikerCount.value) + parseInt(moonCount.value) + parseInt(starlingCount.value);

            if (robotCountField.value < totalRobotsCount) {
                showError(robotCountField, "The total number of robots exceeds the limit");
                return false;
            }
        }

        function showError(inputField, errorMessage) {
            var errorDiv = inputField.parentNode.querySelector('.error');
            if (!errorDiv) {
                errorDiv = document.createElement('div');
                errorDiv.className = 'error';
                inputField.parentNode.insertBefore(errorDiv, inputField.nextSibling);
            }

            errorDiv.textContent = errorMessage;
            inputField.style.borderColor = 'red';
        }
    </script>
</head>

<body>
    <header>
        <h1>Project creation form</h1>
        <button id="other-btn" onclick="location.href='/project'">Back to Home</button>
        <button id="profile-btn"><img src="{{ url_for('static', filename='images.png') }}" alt="Profile"></button>
    </header>
    <form id="myForm" action="/submit_form" method="POST" onsubmit="return validateForm()">
        <h1>Build Your YAML</h1>
        <p>Version <input type="text" id="version" name="Version" /></p>
        <p>Project <input type="text" name="Project" /></p>
        <p>Budget <input type="text" name="Budget" /></p>
        <p>Platform <input type="text" id="platform" name="Platform" disabled /></p>
        <p>RobotCount <input type="text" name="RobotCount" /></p>
        <div class="flex-container">
            <p>Rocksteady <input type="text" name="Rocksteady" /></p>
            <p>RZR <input type="text" name="RZR" /></p>
            <p>Striker <input type="text" name="Striker" /></p>
            <p>Moon <input type="text" name="Moon" /></p>
            <p>Starling <input type="text" name="Starling" /></p>
        </div>
        <p><input type="submit" value="Submit" /></p>
    </form>
    <script>
        const profileBtn = document.getElementById('profile-btn');
        // Add event listener to the profile button
        profileBtn.addEventListener('click', function() {
            // Show the modal
            const modal = document.getElementById('logout-modal');
            modal.style.display = 'block';

            // Add event listener to the cancel button
            const cancelBtn = document.getElementById('cancel-btn');
            cancelBtn.addEventListener('click', function() {
                // Hide the modal
                modal.style.display = 'none';
            });

            // Add event listener to the logout button
            const logoutBtn = document.getElementById('logout-btn');
            logoutBtn.addEventListener('click', function() {
                // Redirect to logout page
                window.location.href = 'logout';
            });
        });
    </script>
    <style>
        .flex-container {
            display: flex;
        }
        
        .flex-container p {
            margin-right: 10px;
        }
    </style>
</body>
<div id="logout-modal" class="modal">
    <div class="modal-content">
        <h2>Are you sure you want to logout?</h2>
        <div class="buttons">
            <button id="cancel-btn">Cancel</button>
            <button id="logout-btn">Logout</button>
        </div>
    </div>
</div>

</html>
