<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Token Information</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            line-height: 1.5;
            color: #333333;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 30px 0;
        }

        .header {
            background-color: #4285f4;
            padding: 30px;
            color: #ffffff;
            text-align: center;
        }

        .header h1 {
            font-size: 40px;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 20px;
        }

        .content {
            background-color: #ffffff;
            padding: 30px;
            text-align: center;
        }

        .content p {
            margin: 0 0 20px;
        }

        .content p strong {
            font-weight: 600;
            color: #4285f4;
        }

        .footer {
            background-color: #f5f5f5;
            padding: 30px;
            text-align: center;
        }

        .footer p {
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Token Information</h1>
        </div>
        <div class="content">
            <p>Hello <strong>{{username}}</strong>,</p>
            <p>Your token is: <strong>{{token}}</strong></p>
            <p>Thank you for using our service.</p>
        </div>
        <div class="footer">
            <p>Copyright © 2023 Company Inc.
        </div>
    </div>
</body>
</html>
