<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Load Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <!-- Alert modal -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="alertModalTitle">Credentials not matching</h4>
                </div>
                <div class="modal-body" id="alertModalBody">
                    <p>Please check your username and password.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <form id="loginForm" action="/submit" method="POST">
        <h1>Login</h1>
        {% if error %}
        <div class="error">{{ error }}</div>
        {% endif %}
        <p>Username <input type="text" name="username" id="username" class="form-control" /></p>
        <p>Password <input type="password" name="password" id="password" class="form-control" maxlength="20" autocomplete="off" /></p>
        <p><input type="submit" value="Login" /></p>
        <p>Don't have an account? <a href="/signup">Create an account</a></p>
        <p>Forgot your password? <a href="/reset">Reset Password</a></p>
    </form>
    <!-- Load jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Load Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#alertModal').modal('show');
        });
    </script>
</body>

</html>