<!DOCTYPE html>
<html>

<head>
    <title>No Projects Available</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/noproject.css') }}">
</head>

<body>
    <div class="center">
        No projects available
    </div>
</body>

</html>