<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Load Bootstrap CSS -->
</head>

<body>
    <header>
        <h1>Welcome to Cluster creation Application [ MANAGED BY DEVOPS ]</h1>
    </header>
    <form id="PassReset" action="/token" method="POST" onsubmit ="return validateForm()">
        <h1>Password Reset</h1>
        {% if error %}
        <div class="error">{{ error }}</div>
        {% endif %}
        <p>Username <input type="text" name="username" id="username" class="form-control"  /></p>
        <p>New Password <input type="password" name="password" id="password" class="form-control" maxlength="20" autocomplete="off"  /></p>
        <p><input type="submit" value="Reset" /></p>
        <p>Forgot Username? <a href="/login">Login </a></p>
        <span id="blankMsg"></span>
    </form>
    <script>
        
function validateForm() {
    console.log("Function executed");

    var username = document.getElementById("username").value;
    var password =document.getElementById("password").value;
    var confirm_password = document.getElementById("confirm_password").value;
    console.log(username);

    if(username == "") {
      document.getElementById("blankMsg").innerHTML = "**Fill the first name";
      showError(username, "Username must be a provided");
      return false;
    }
    if(password == "") {
      document.getElementById("blankMsg").innerHTML = "**Fill the Password";
      showError(username, "Password must be a provided");
      return false;
    }
}
function showError(inputField, errorMessage) {
            var errorDiv = inputField.parentNode.querySelector('.error');
            if (!errorDiv) {
                errorDiv = document.createElement('div');
                errorDiv.className = 'error';
                inputField.parentNode.insertBefore(errorDiv, inputField.nextSibling);
            }

            errorDiv.textContent = errorMessage;
            inputField.style.borderColor = 'red';
        }

    </script>
</body>

</html>
