<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>My Projects</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/logout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/delete.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header>
        <h1>Projects</h1>
        <button id="other-btn" onclick="location.href='/create'">Create Project</button>
        <button id="profile-btn"><img src="{{ url_for('static', filename='images.png') }}" alt="Profile"></button>
    </header>
    <div id="project-list">
        {% if projects %}
        <ul>
            {% for project in projects %}
            <li>
                <span>{{ project.project }}</span>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <button class="download-project-data-btn" style="margin-right: 10px;"
                        data-project="{{ project.project }}">Download project</button>

                    <div>
                        <button id="create-cluster-btn-{{ project.project }}" class="create-cluster-btn"
                            data-project="{{ project.project }}">See Cluster Status</button>
                        <button class="download-yaml-data-btn" style="margin-right: 10px;"
                            data-project="{{ project.project }}">Download SimStart</button>
                        <button class="update-cluster-btn" style="margin-right: 10px;"
                            data-project="{{ project.project }}">Update Cluster</button>
                        <button class="delete-project-data-btn" style="margin-right: 10px;"
                            data-project="{{ project.project }}">Delete project</button>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="no-projects">No projects available</div>
        {% endif %}
    </div>


    <script>
        const profileBtn = document.getElementById('profile-btn');
        // Add event listener to the profile button
        profileBtn.addEventListener('click', function () {
            // Show the modal
            const modal = document.getElementById('logout-modal');
            modal.style.display = 'block';

            // Add event listener to the cancel button
            const cancelBtn = document.getElementById('cancel-btn');
            cancelBtn.addEventListener('click', function () {
                // Hide the modal
                modal.style.display = 'none';
            });

            // Add event listener to the logout button
            const logoutBtn = document.getElementById('logout-btn');
            logoutBtn.addEventListener('click', function () {
                // Redirect to logout page
                window.location.href = 'logout';
            });
        });


        const updateBtns = document.querySelectorAll('.update-cluster-btn');
        updateBtns.forEach(function (updateBtn) {
            updateBtn.addEventListener('click', function () {
                const projectName = updateBtn.getAttribute('data-project');
                const xhr = new XMLHttpRequest();
                xhr.open('GET', '/executeShell?scriptName=update&projectName=' + projectName);
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        const updateMsgDiv = document.createElement('div');
                        updateMsgDiv.innerHTML = response.msg;
                        updateMsgDiv.classList.add('popup');
                        document.body.appendChild(updateMsgDiv);
                        setTimeout(function () {
                            updateMsgDiv.style.opacity = 0;
                            setTimeout(function () {
                                document.body.removeChild(updateMsgDiv);
                            }, 1000);
                        }, 5000);
                        updateBtn.innerHTML = 'Update in progress...';
                        updateBtn.disabled = true;
                        setTimeout(function () {
                            updateBtn.innerHTML = 'Update Cluster';
                            updateBtn.disabled = false;
                        }, 5000);
                    } else {
                        console.log('Error executing script');
                    }
                };
                xhr.send();
            });
        });



        const downloadProjectYamlDataBtns = document.querySelectorAll('.download-yaml-data-btn');
        downloadProjectYamlDataBtns.forEach(function (btn) {
        btn.addEventListener('click', function () {
            const projectName = btn.getAttribute('data-project');
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '/downloadyaml?projectName=' + projectName);
            xhr.responseType = 'blob'; // Set response type to blob
            xhr.onload = function () {
            if (xhr.status === 200) {
            console.log('Displaying wait modal');
            // Check if the response contains any error messages
            const reader = new FileReader();
            reader.readAsText(xhr.response);
            reader.onloadend = function() {
            const responseText = reader.result;
            const waitModal = document.getElementById('wait-modal');
            if (responseText.includes('error')) {
                waitModal.style.display = 'block';
                console.log('Displaying wait modal');
                const deleteCancelBtn = document.getElementById('wait-cancel-btn');
                deleteCancelBtn.addEventListener('click', function () {
                    waitModal.style.display = 'none';
                });
            console.log('Error downloading project data: ' + responseText);
          } else {
            // Create a URL for the blob response
            const blobUrl = URL.createObjectURL(xhr.response);
            // Create a link element and click it to trigger the download
            const link = document.createElement('a');
            link.href = blobUrl;
            link.download = 'simstart.yaml';
            link.click();
            // Cleanup the URL object
            URL.revokeObjectURL(blobUrl);
          }
        };
      } else {
        console.log('Error downloading project data');
      }
    };
    xhr.onerror = function() {
      console.log('Error occurred during XHR request');
    };
    xhr.send();
  });
});

        // Add event listener to the download project data button
        const downloadProjectDataBtns = document.querySelectorAll('.download-project-data-btn');
        downloadProjectDataBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                const projectName = btn.getAttribute('data-project');
                const xhr = new XMLHttpRequest();
                xhr.open('GET', '/downloadprojectdata?projectName=' + projectName);
                xhr.responseType = 'blob'; // Set response type to blob
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        // Create a URL for the blob response
                        const blobUrl = URL.createObjectURL(xhr.response);
                        // Create a link element and click it to trigger the download
                        const link = document.createElement('a');
                        link.href = blobUrl;
                        link.download = projectName + '.zip';
                        link.click();
                        // Cleanup the URL object
                        URL.revokeObjectURL(blobUrl);
                    } else {
                        console.log('Error downloading project data');
                    }
                };
                xhr.send();
            });
        });

        // Add event listener to the delete project data button
        const deleteProjectDataBtns = document.querySelectorAll('.delete-project-data-btn');
        deleteProjectDataBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                const projectName = btn.getAttribute('data-project');
                const deleteModal = document.getElementById('delete-modal');
                deleteModal.style.display = 'block';
                const deleteConfirmBtn = document.getElementById('delete-confirm-btn');
                deleteConfirmBtn.addEventListener('click', function () {
                    deleteProjectData(projectName, function () {
                        // Callback function to update the page after project deletion
                        location.reload();
                    });
                    deleteModal.style.display = 'none';
                });
                const deleteCancelBtn = document.getElementById('delete-cancel-btn');
                deleteCancelBtn.addEventListener('click', function () {
                    deleteModal.style.display = 'none';
                });
            });
        });


        function deleteProjectData(projectName, callback) {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '/deleteproject?projectName=' + projectName);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    console.log('Project data deleted successfully');
                    // Call the callback function to update the page
                    callback();
                } else {
                    console.log('Error deleting project data');
                }
            };
            xhr.send();
        }
        const createClusterBtns = document.querySelectorAll('.create-cluster-btn');
        // Add event listener to the profile button

        createClusterBtns.forEach(function (btn) {
            const projectName = btn.getAttribute('data-project');

            // Check cluster status on page load
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '/getClusterStatus?projectName=' + projectName);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    const status = xhr.responseText;
                    const parsedResponse = JSON.parse(status);
                    const clusterStatus = parsedResponse.cluster;
                    if (clusterStatus == 'Active') {
                        btn.innerText = 'See Cluster Status';
                    } else {
                        btn.innerText = 'Create Cluster';
                    }
                } else {
                    console.log('Error getting cluster status');
                }
            };
            xhr.send();

            btn.addEventListener('click', function () {

                if (btn.innerText === 'Create Cluster') {
                    const xhrCreateCluster = new XMLHttpRequest();
                    console.log('Project name:', projectName);
                    xhrCreateCluster.open('GET', '/createCluster?projectName=' + projectName);
                    console.log('Creating cluster for project:', projectName);
                    $.ajax({
                        url: "/executeShell?token=create&scriptName=precluster.sh&projectName=" + projectName,
                        type: "GET",
                        success: function (response) {
                            console.log(response);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                    location.reload();

                    xhrCreateCluster.onload = function () {
                        if (xhrCreateCluster.status === 200) {
                            const status = xhrCreateCluster.responseText;
                            const parsedResponse = JSON.parse(status);
                            const clusterStatus = parsedResponse.cluster;
                            if (clusterStatus === 'Active') {
                                btn.innerText = 'See Cluster Status';
                            } else {
                                btn.innerText = 'Create Cluster';
                            }
                        } else {
                            console.log('Error creating cluster');
                        }
                    };

                    xhrCreateCluster.send();
                } else {
                    // See Cluster Status clicked, redirect to cluster status page
                    window.location.href = '/currentClusterStatus?projectName=' + projectName;
                }
            });
        });
    </script>
    <div id="logout-modal" class="modal">
        <div class="modal-content">
            <h2>Are you sure you want to logout?</h2>
            <div class="buttons">
                <button id="cancel-btn">Cancel</button>
                <button id="logout-btn">Logout</button>
            </div>
        </div>
    </div>

    <!-- Add this modal element inside the body tag -->
    <div id="delete-modal" class="modal">
        <div class="modal-content">
            <h2>Delete Project</h2>
            <p>Are you sure you want to delete the project? This will permanently delete this cluster from your profile as well as aws console</p>
            <div class="modal-buttons">
                <button id="delete-cancel-btn" class="cancel-btn">Cancel</button>
                <button id="delete-confirm-btn" class="confirm-btn">Delete</button>
            </div>
        </div>
    </div>
    <div id="wait-modal" class="modal">
        <div class="modal-content">
            <h2>simstart file not available</h2>
            <p>simstart yaml not created yet, Please stand by!</p>
            <div class="modal-buttons">
                <button id="wait-cancel-btn" class="cancel-btn">OK</button>
            </div>
        </div>
    </div>

</body>

</html>
