<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <h1>Welcome to AWS Simulation Deployment WebApp</h1>
    </header>
    <form id="signupForm" action="/result" method="POST">
      <h1>Sign Up</h1> {% if error %} <div class="error">{{ error }}</div> {% endif %} <p>Username <input type="text" name="username" id="username" class="form-control" />
      </p>
      <p>Email <input type="email" name="email" id="email" class="form-control" />
      </p>
      <p>Password <input type="password" name="password" id="password" class="form-control" maxlength="20" autocomplete="off" />
      </p>
      <p>Confirm Password <input type="password" name="confirm_password" id="confirm_password" class="form-control" maxlength="20" autocomplete="off" />
      </p>
      <p>
        <input type="submit" value="Sign Up" />
      </p>
      <p>Already have an account? <a href="/login">Login</a>
      </p>
    </form>
    <script>
      var password = document.getElementById("password"),
        confirm_password = document.getElementById("confirm_password");

      function validatePassword() {
        if (password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
          confirm_password.setCustomValidity('');
        }
      }
      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;
    </script>
  </body>
</html>