<!DOCTYPE html>
<html>

<head>
    <title>Fleet Manager Robot Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/logout.css') }}">
</head>

<body>
    <header>
        <h1>Project creation area</h1>
        <button id="other-btn" onclick="location.href='/project'">Back to Home</button>
        <button id="profile-btn"><img src="{{ url_for('static', filename='images.png') }}" alt="Profile"></button>
    </header>
    <div id="popup" class="hidden">
        <div class="popup-content">
            <div class="popup-header">
                <span class="popup-title">Form Submitted Successfully!</span>
                <button class="popup-close" onclick="hidePopup();">&times;</button>
            </div>
            <div class="popup-body">
                <span>Thank you for submitting the form. Your project is created. Move back to home to create the cluster</span>
                <div class="progress-bar">
                    <div class="progress"></div>
                </div>
                <button class="back-to-home" onclick="location.href='/'">Back to Home</button>
                <button class="downloadrobotdata" onclick="location.href='/download_robot_data'">Download Robot data</button>
            </div>
        </div>
    </div>
    <script>
        const profileBtn = document.getElementById('profile-btn');
        // Add event listener to the profile button
        profileBtn.addEventListener('click', function() {
            // Show the modal
            const modal = document.getElementById('logout-modal');
            modal.style.display = 'block';

            // Add event listener to the cancel button
            const cancelBtn = document.getElementById('cancel-btn');
            cancelBtn.addEventListener('click', function() {
                // Hide the modal
                modal.style.display = 'none';
            });

            // Add event listener to the logout button
            const logoutBtn = document.getElementById('logout-btn');
            logoutBtn.addEventListener('click', function() {
                // Redirect to logout page
                window.location.href = 'logout';
            });
        });

        window.addEventListener("load", showPopup);

        function showPopup() {
            document.getElementById("popup").classList.remove("hidden");
            var progress = document.querySelector('.progress');
            var width = 0;
            var id = setInterval(frame, 10);

            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                } else {
                    width++;
                    progress.style.width = width + '%';
                }
            }
        }

        function hidePopup() {
            document.getElementById("popup").classList.add("hidden");

            var progress = document.querySelector('.progress');
            progress.style.width = '0%';
        }

        hidePopup();

        var form = document.getElementById("myForm");

        form.addEventListener("submit", function(event) {
            event.preventDefault();

            var xhr = new XMLHttpRequest();
            xhr.open("POST", form.action);

            xhr.onload = function() {
                if (xhr.status === 200) {
                    showPopup();
                }
            };

            xhr.send(new FormData(form));
        });
    </script>
    <div id="logout-modal" class="modal">
        <div class="modal-content">
            <h2>Are you sure you want to logout?</h2>
            <div class="buttons">
                <button id="cancel-btn">Cancel</button>
                <button id="logout-btn">Logout</button>
            </div>
        </div>
    </div>
</body>

</html>