<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Load Bootstrap CSS -->
</head>

<body>
    <header>
        <h1>Welcome to Cluster creation Application [ MANAGED BY DEVOPS ]</h1>
    </header>
    <form id="tokenform" action="/tokenvalidate?username={{username}}&email={{email}}" method="POST">
        <h1>Password Reset</h1>
        {% if error %}
        <div class="error">{{ error }}</div>
        {% elif success %}
        <div class="success">{{ success }}</div>
        {% endif %}
        <p>Enter the token <input type="text" name="token" id="token" class="form-control" /></p>
        <p><input type="submit" value="Reset" /></p>
        <p>Resend token<a href="/reset"> Send Email </a></p>
    </form>
    <script>
        $(document).ready(function() {
            $('#tokenform').submit(function(event) {
                var token = $('#token').val();
                if (token === '') {
                    event.preventDefault();
                    $('#alertModal').modal('show');
                    $('#alertModalTitle').text('token Error');
                    $('#alertModalBody').html('<p>token must not be empty.</p>');
                }
            });
        });
    </script>
</body>

</html>